################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sbdebug/node_modules
/sbdebug/.vs
/sbdebug/package-lock.json
