doctype html
html
  head
    script.
        debugPort="#{debugPort}";
    title= title
    link(rel="stylesheet" href="/node_modules/material-design-lite/material.min.css")
    script(src="/node_modules/material-design-lite/material.min.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="/site/style.css")
    script(src="/site/site.js")
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        .mdl-layout__header-row
          // Title
          span.mdl-layout-title= title
        // Tabs
        .mdl-layout__tab-bar.mdl-js-ripple-effect
          a.mdl-layout__tab.is-active(href='#scroll-tab-1') Console
          a.mdl-layout__tab(href='#scroll-tab-2') Live Edit
      main.mdl-layout__content
        section#scroll-tab-1.mdl-layout__tab-panel.is-active
          .page-content
            textarea#consolein.mdl-textfield__input(type='text', rows='24' readonly='')
            .mdl-textfield.mdl-js-textfield
              input#consoleout.mdl-textfield__input(type='text')
              label.mdl-textfield__label(for='consolein') Javascript
        section#scroll-tab-2.mdl-layout__tab-panel
          .page-content
            #liveedit
    script(src='/site/ace/src-min/ace.js', type='text/javascript', charset='utf-8')
